<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Weather App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Fonts Awesome -->
        <script src="https://kit.fontawesome.com/54232dfb0e.js" crossorigin="anonymous"></script>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap"
            rel="stylesheet">

    </head>
    <body>
        <div class="left-container">
            <div class="left-top">
                <button class="search-btn">Search for places</button>
                <button class="myLocation-btn"><i class="fas fa-compass"></i></button>
            </div>
            <div class="img-div">
                <img class="todays-img" src="./images/<%= wdata.consolidated_weather[0].weather_state_name %>.png" alt="Weather">
            </div>
            <h1 class="todays-temp"><%= wdata.consolidated_weather[0].the_temp %><span class="todays-celcius">°C</span></h1>
            <h3 class="todays-desc"><%= wdata.consolidated_weather[0].weather_state_name %></h3>
            <div class="todays-date">
                <p class="today">Today</p>
                <p>-</p>
                <p class="today"><%= todaysDate %></p>
            </div>
            <p class="location"><i class="fas fa-map-marker-alt"></i>  <%= wdata.title %></p>

            <div class="search-box">
                <div class="search-top"><i class="fas fa-times"></i></div>
                <form id="search-form" action="/" method="POST">
                    <input type="text" name="cityName" class="city-input" placeholder="🔎 search locations...">
                    <button class="city-btn btn btn-primary" >Search</button>
                </form>
            </div>
        </div>

        <div class="right-container">
            <div class="right-top-container">
                <div class="temp-choices">
                    <div class="degree celcius">°C</div>
                    <div class="degree farengheit">°F</div>
                </div>

                <div class="5days">
                    <div class="aday">
                        <h1>{date}</h1>
                        <img src="" alt="desc">
                        <p>{16C     11C}</p>
                    </div>

                    <div class="aday">
                        <h1>{date}</h1>
                        <img src="" alt="desc">
                        <p>{16C 11C}</p>
                    </div>

                    <div class="aday">
                        <h1>{date}</h1>
                        <img src="" alt="desc">
                        <p>{16C 11C}</p>
                    </div>

                    <div class="aday">
                        <h1>{date}</h1>
                        <img src="" alt="desc">
                        <p>{16C 11C}</p>
                    </div>

                    <div class="aday">
                        <h1>{date}</h1>
                        <img src="" alt="desc">
                        <p>{16C 11C}</p>
                    </div>
                </div>
            </div>

            <div class="right-bottom-container">
                <h1 class="big-heading">Today's Highlights</h1>

                <div>
                    <p>Wind status</p>
                    <h1>{mph}</h1>
                    <p><i class="fas fa-location-arrow"></i> {WSW}</p>
                </div>

                <div>
                    <p>Humidity</p>
                    <h1>{%}</h1>
                    <div class="bar-container">
                        <div class="bar-top">
                            <p>0</p>
                            <p>50</p>
                            <p>100</p>
                        </div>

                        <div class="bar">
                            <div class="colored-bar"></div>
                        </div>
                        <p>%</p>
                    </div>

                    <div>
                        <p>Visibility</p>
                        <h1>{miles}</h1>
                    </div>

                    <div>
                        <p>Air pressure</p>
                        <h1>{mb}</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <script src="/js/index.js"></script>
    </body>
</html>